.state-table {
  width: 80%;
  height: 100%;
  flex-shrink: 0;
  border-radius: 12px;
  margin-top: 106px;
  border: 1px solid var(--light-blue-gray-600, #475569);
  background: #1e1e30;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.16);
  /* padding-right: 244px; */
  /* margin-left: 150px; */
  padding: 32px;
}

.table-headings-bar {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.states-asc-desc {
  display: flex;
  align-items: center;
  width: 20%;
}

.table-headings {
  color: var(--light-blue-gray-50, #f8fafc);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.asc-desc-button {
  background: none;
  outline: none;
  border: none;
}

.asc-icon {
  margin-left: 16px;
  margin-right: 12px;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  color: #94a3b8;
}

.desc-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  color: #94a3b8;
}

.remaining-headings {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.state-table-hr {
  background: #475569;
  height: 1px;
  width: 100%;
}
